.task-list-title {
    padding-bottom: 10px;
}

.task-list-circle {
    border: 1.6px solid aqua;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-left: 5px;
}

.task-list-el-container {
    width: 100%;
    gap: 12px;
    margin: 8px auto;
}

.task-list-el-button {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    padding: 5px;
}

@media (hover: hover) and (pointer: fine) {
    .task-list-el-button:hover,
    .task-list-el-button:focus {
        background-color: rgba(255, 255, 255, 0.18);
        border-radius: 12px;
    }
}
