body,
html,
#root {
    height: 100%;
}

body {
    background-color: #1c1c1c;
    color: #fff;
    line-height: 1.6;
    font-family: "Open-Sans";
}

button {
    color: #fff;
}

.task-manager-app {
    height: 100%;
    width: 100%;
    display: flex;
}

.task-sidebar {
    border-right: solid 1px rgba(255, 255, 255, 0.12);
}

.task-column {
    padding: 12px;
}
